<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="LogFileAppender" />-->
      <appender-ref ref="AdoNetAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="C:\_Magpie\MagpieApi.log" />
      <datePattern value="_yyyyMMdd'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionStringName value="AuthenticationConnection" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <commandText value="INSERT INTO Logs ([UserId],[Timestamp],[LogEventId],[LogLevelId],[Description]) VALUES (@userId, @timestamp, @logeventId, @loglevelId , @description)" />
      <parameter>
        <parameterName value="@userId" />
        <dbType value="String" />
        <size value="128" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{UserId}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@timestamp"/>
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawPropertyLayout">
          <key value="TimeStamp" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logeventId" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{LoggingLevel}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@loglevelId" />
        <dbType value="Int32" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%property{LoggingLevel}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@description" />
        <dbType value="String" />
        <size value="8000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
    </appender>
  </log4net>

  <appSettings>
    <add key="as:AudienceId" value="099153c2625149bc8ecb3e85e03f0022" />
    <add key="as:AudienceSecret" value="cXdlcnR5dWlvcGFzZGZnaGprbHp4Y3Zibm0xMjM0NTY=" />
    <add key ="QlikTokenProviderUri" value="localhost/qps/tick/"/>
    <add key ="QlikTokenProviderEndPoint" value= "ticket"/>
    <add key ="QlikUserId" value="QlikAdmin"/>
    <add key="QlikUserDir" value="EC2AMAZ-BEQL10V" />
  </appSettings>
  <connectionStrings>

    <!-- Chithra 
    <add name="AuthenticationConnection" connectionString="Data Source=DESKTOP-1NN91NE;Initial Catalog=MagpieClient;Integrated Security=True" providerName="System.Data.SqlClient" />
    -->
    
    <!-- cio3
    <add name="AuthenticationConnection" connectionString="Data Source=magpie-cio3-db.cit4fwpo7too.us-west-2.rds.amazonaws.com;Initial Catalog=MagpieClient;User ID=admin;Password=S3cret123!;" providerName="System.Data.SqlClient" />
    -->
    
    <!-- Ed 
    <add name="AuthenticationConnection" connectionString="Data Source=DESKTOP-B24EAUQ\SQLEXPRESS;Initial Catalog=MagpieClient;Integrated Security=True" providerName="System.Data.SqlClient" />
    -->
    <!-- Leroy 
    <add name="AuthenticationConnection" connectionString="Data Source=LAPTOP-8G88S888;Initial Catalog=MagpieClient;Integrated Security=True" providerName="System.Data.SqlClient" />
    -->


    <!-- Rob-Altius 
    <add name="MagpieClient" connectionString="Data Source=ROB-ALTIUS;Initial Catalog=MagpieClient;Integrated Security=True" providerName="System.Data.SqlClient" />
    -->

    <!-- Rob-Desktop 
    <add name="MagpieClient" connectionString="Data Source=ROB-DESKTOP\ROBDESKTOP2016;Initial Catalog=MagpieClient;Integrated Security=True" providerName="System.Data.SqlClient" />
    -->
    
    <!-- qa   -->
     <add name="AuthenticationConnection" connectionString="Data Source=EC2AMAZ-IR1TEBL\SQLEXPRESS;Initial Catalog=MagpieClient_QA2;User ID=admin;Password=S3cret123!;" providerName="System.Data.SqlClient"/>
  
  </connectionStrings>
    <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>